#side-pane
  %h3 Todo Lists
  = render 'lists', lists: @lists
  #createList
    %input#new-list{type: "text", placeholder: "New list"}
#main-pane
  #items-view
    #new-todo-box
      %input#new-todo{type:"text",placeholder:"New item"}
    %ul#item-list
#top-tag-filter
  #tag-filter.tag-list
    .label Show:
    = render 'sorted', sorted_tags: @sorted_tags
