/* General */
* {
  padding: 0;
  margin: 0;
}
html, body {
  height: 100%;
}

body {
  font-size: 16px;
  color: #333;
  background: #eee;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  display: block;
  line-height: 1.5;
}

h3 {
  text-decoration: underline;
  font-size: 120%;
  padding: 8px 6px;
  text-align: center;
}

input {
  font-size: 100%;
}

/* Main Groups */

.new_user, .new_session {
  width: 40%;
  display: table-cell;
  margin: 0em;
  padding: 1em;
  height: auto;
}

.separate {
  position: relative;
  top: 100px;
  left: -100px;
  width: 5%;
  display: table-cell;
  margin: 0em;
  padding: 1em;
  height: auto;

}

.separate p {
  font-size: 40px;
  text-decoration: underline;
}

#side-pane, #main-pane, #top-tag-filter {
  position: absolute;
  top: 0;
  bottom: 0;
  overflow: hidden;
}

#side-pane {
  z-index: 100;
  width: 200px;
  border-right: 1px solid #999;
  background: #ddd;
  right: auto;
  overflow: auto;
}

#top-tag-filter {
  right: 0;
  left: 200px;
  height: 44px;
  bottom: auto;
  background: #ddd;
  border-bottom: 1px solid #999;
}

#main-pane {
  top: 45px;
  right: 0;
  left: 220px;
  overflow: auto;
}

/* side-pane specific */

#lists .list {
  padding: 3px 6px;
}

#lists .selected {
  padding: 2px 6px;
  background: #9be;
  font-weight: 700;
}

.list:hover {
  background-color: #C7C3C4;
}

#lists .list .list-del {
  display:block;
  cursor: pointer;
  position: absolute;
  left: 5px;
  height:20px;
  width: 20px;
  margin-top: 2px;
}

#lists .list .name {
  margin-left: 22px;
  display:inline;
}

#lists .list:hover .list-del {
  background: url("destroy.png") no-repeat 0 0px;
}

#lists .list .list-del:hover {
  background-position: 0 -20px;
}

#createList {
  padding: 3px 6px;
  margin-top: 5px;
}

#createList input {
  width: 180px;
}

/* top-tag specific */

#tag-filter .label {
  float: left;
  margin: 9px 8px 0px 12px;
}

#tag-filter .tag {
  margin-top: 10px;
  border: 1px solid #777;
}

#tag-filter .selected {
  background: #69d;
}

/* main pane specific  */

#items-view{
  margin-top: 5px;
  margin-left: 5px;
}

#new-todo-box {
  margin: 10px 20px 10px 60px;
  font-size: 160%;
  position: relative;
  height: 40px;
}

#new-todo {
  position: absolute;
  width: 100%;
}

#item-list .item .display, #item-list .item .edit {
  margin-left: 30px;
  height: 100%;
  width: auto;
  float: left;
  padding-top: 18px;
  line-height: 1;
}

#item-list .item {
  display: block;
  height: 50px;
  position: relative;
  overflow: hidden;
  border-top: 1px solid #ccc;
}

#item-list .item .destroy {
  cursor: pointer;
  position: absolute;
  left: 5px;
  top: 15px;
  height:20px;
  width: 20px;
}

#item-list .done .item-text {
  text-decoration: line-through;
  color: #999;
}

#item-list .item:hover .destroy {
  background: url("destroy.png") no-repeat 0 0;
}

#item-list .item .destroy:hover {
  background-position: 0 -20px;
}

#item-list .item .check {
  float: left;
  width: 25px;
}

#item-list .item .item-text {
  float: left;
  margin-left: 10px;
  font-size: 100%;
}

#item-list .item .item-tags {
  overflow: auto;
  float: right;
  margin-right: 8px;
}

#item-list .item .item-tags div.addtag {
  background: 0;
  color: #333;
  border: 1px dashed #999;
}

#item-list .item .item-tags .tag {
  margin-top: 15px;
}

.tag {
  cursor: pointer;
  float: left;
  margin: 5px;
  padding: 2px 7px;
  font-size: 80%;
  font-weight: 700;
  background: #999;
  color: #fff;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -o-border-radius: 4px;
  opacity: 1;
  transition: opacity .3s linear;
  -moz-transition: opacity .3s linear;
  -webkit-transition: opacity .3s linear;
  -o-transition: opacity .3s linear;
  position: relative;
}

#item-list .item .item-tags .removable_tag {
  padding-right: 22px;
}

#item-list .item .item-tags .tag .remove {
  position: absolute;
  top: 0;
  right: 4px;
  bottom: 0;
  width: 16px;
  background: url("close_16.png") no-repeat 0 center;
}
#item-list .item .item-tags .tag .remove:hover {
  background-position: -16px center;
}
